*
!/**/
!*.*
!Makefile
**/*.o
**/*.d
**/*.replace
.idea/
.vscode/
tests/
.pytest_cache
pytest.ini
.idea/
.vscode/


# *       #ignore all
# !/**/   #don't ignore any dir
# !*.*    #don't ignore files with .(with extension)