*
!/**/
!*.*
!Makefile
**/*.o
**/*.d
**/*.replace
.idea/
.vscode/
.pytest_cache
# tests/
# pytest.ini


# *       #ignore all
# !/**/   #don't ignore any dir
# !*.*    #don't ignore files with .(with extension)